// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
